[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=USER
WorkingDirectory=/home/USER/DOMAIN
EnvironmentFile=/home/USER/DOMAIN/.env

ExecStart=/home/USER/DOMAIN/.venv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    miescuelaonline.wsgi:application

[Install]
WantedBy=multi-user.target