[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=kaiser
WorkingDirectory=/home/USER/DOMAIN
EnvironmentFile=/home/USER/DOMAIN/.env

ExecStart=/home/USER/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
